$secondary: #4169e1;
$primary: #ff6961;
$light-blue: #add8e6;
$black: #000;
$smoky-black: #191D2B;
$eerie-black: #414a4c;
$main-content: #10121B;
$white: #fff;
$grey: #808080;
$light-grey: #d3d3d3;
$snow: #fff0f5;
$pink: #ff9999;
$green: #8fbc8f;

$mobile-width: 600px;
$tablet-width: 1024px;

$btn-main-bg: $primary;
$btn-main-color: #fff;
$extra-orange: #ff4500;

$header-height: 4.3rem;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;


$box-shadow: $primary 0px 8px 24px;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$font-poppins: 'Poppins', sans-serif;

